body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 137, 198);
    font-family: Arial, Helvetica, sans-serif;
}

canvas {
border: 1px  solid #ffe8f6;
}
